# Copy the contents of this file into a new file called .env.

# The following key-value pairs will be added to the global variable process.env
# via the dotenv npm module, as used in server/index.js.

# SERVER ENV
PORT=3000
SITE_URL="localhost"

# DATABASE ENV
DB_NAME="atlier"
